<launch>
  <arg name="ns" default="audio2"/>
  <arg name="dst" default="alsasink"/>

  <group ns="$(arg ns)">
      <node name="audio_record" pkg="audio_play" type="record_audio.py" output="screen">
          <param name="host" value="192.168.43.79"/>
          <param name="port" value="4001"/>
      </node>

      <node name="audio_play" pkg="audio_play" type="play_audio.py" output="screen">
          <param name="port" value="5001"/>
      </node>
  </group>
</launch>